@model GraduateProject.Models.SearchResult
@{
    ViewBag.Title = "SearchAdvance";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<link href="~/finalContent/Loginstyle.css" rel="stylesheet" />
<link href="~/finalContent/SearchStyle.css" rel="stylesheet" />

<!-- Search start  -->
<div class="s130" style="margin-top:-100px">
    <form method="get" action="SearchResult">
        <div class="inner-form" style="background-color:lightskyblue">
            <div class="svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                </svg>
            </div>

            <div style="color:white">

                @Html.DropDownListFor(model => model.Category, new SelectList(ViewBag.list, "id", "Text"), "choose Catygory", new { @class = "btn btn - secondary dropdown - toggle", style = "background-color:lightskyblue" })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>


            <div class="input-field second-wrap">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input", placeholder = "Search For!", id = "tags" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="input-field second-wrap">
                <button class="btn-search" type="submit">SEARCH</button>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



    <script>
        $(document).ready(function () {


            var availableTags = [];
            $.ajax({
                type: 'GET',
                url: '../../SearchDeeply/getNames',
                dataType: 'JSON',
                success: function (response) {
                    $.each(response, function (key, item) {
                        availableTags.push(item.Name)
                    });

                }
            });

            $('#tags').autocomplete({
                source: availableTags
            });
        });



    </script>
}

@*<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="~/finalContent/Loginstyle.css" rel="stylesheet" />
    <link href="~/finalContent/SearchStyle.css" rel="stylesheet" />


     Search start
    <div class="s130">
        <form method="get" action="SearchResult">
            <div class="inner-form" style="background-color:lightskyblue">
                <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                    </svg>
                </div>

                <div style="color:white">

                    @Html.DropDownListFor(model => model.Category, new SelectList(ViewBag.list, "id", "Text"), "choose Catygory", new { @class = "btn btn - secondary dropdown - toggle", style = "background-color:lightskyblue" })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>


                <div class="input-field second-wrap">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input", placeholder = "Search For!", id = "tags" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="input-field second-wrap">
                    <button class="btn-search" type="submit">SEARCH</button>
                </div>
            </div>
        </form>
    </div>
    @section scripts{
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



        <script>
            $(document).ready(function () {


                var availableTags = [];
                $.ajax({
                    type: 'GET',
                    url: '../../SearchDeeply/getNames',
                    dataType: 'JSON',
                    success: function (response) {
                        $.each(response, function (key, item) {
                            availableTags.push(item.Name)
                        });

                    }
                });

                $('#tags').autocomplete({
                    source: availableTags
                });
            });



        </script>
    }*@
<!-- search end -->
